/* Variables */
:root {
    --main-color: #f2951c;
    --TXT-color: rgb(255, 255, 255);
    --BG-color: rgb(212, 212, 212); 
    --BG-color: rgb(255, 255, 255);
    --main-trans: all 0.5s ease-in-out;
    --shadow: 2px 2px 20px 7px rgba(0, 0, 0, 0.2);
}
/* MY STYLES */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: var(--main-trans);
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Kalam', cursive; */
    background-color: var(--TXT-color);
}
/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ----------------------------------------
------------ Setting Box -----------------
---------------------------------------- */

.settingsBox {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    /* min-height: calc( 100vh - 75px ); */
    min-height: calc( 100vh );
    border-right: 3px solid var(--main-color);
    background-color: var(--BG-color);
    z-index: 3;
    transition: var(--main-trans);
}
.settingsBox.open {    
    left: 0;
}
.settingsBox .gearCont {
    position: absolute;
    top: 200px;
    right: -36px;
    width: 36px;
    padding-right: 3px;
    background-color: var(--BG-color);
    border-radius: 0 23px 23px 0;
    cursor: pointer;
    text-align: center;
    /* border: 3px solid transparent; */
    border-left: none ;
}
.settingsBox .gearCont:hover{
    background-color: var(--main-color);
}
.settingsBox i.gear{
    line-height: 40px;
    transition: var(--main-trans);
    transition-duration: 1s;
}
.settingsBox i.gear.open{
    transform: rotate(1turn);
    /* border-color: var(--main-color); */
}
.settingsBox .settingsContainer {

}

/* ----------------------------------------
------------- Option Box ----------------
---------------------------------------- */

.optionBox {
    padding: 10px 0 20px;
}
.optionBox .title{
    color: rgb(85, 134, 136);
    font-size: 14px;
    padding: 10px;
}
hr{
    width: 80%;
    margin: auto;
    color: rgb(85, 134, 136);
}

/* ----------------------------------------
----------- Color Option ---------------
---------------------------------------- */

.color-option .colors-List{
    cursor: pointer;
    text-align: center;
}
.color-option .colors-List li{
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    border-radius: 50%;
    margin: 0.15rem;
    border: 2px solid transparent;
    opacity: .3;
    cursor: pointer;
}
.color-option .colors-List li:hover{
    opacity: 1;
    scale: 1.2;
}
.color-option .colors-List li.active{
    border-color: rgb(105, 105, 105) ;
    opacity: 1;
    scale: 1.2;
}
.color-option .colors-List li:nth-child(1) { background-color: #f2951c;}
.color-option .colors-List li:nth-child(2) { background-color: #7871aa ;}
.color-option .colors-List li:nth-child(3) { background-color: #009688;}
.color-option .colors-List li:nth-child(4) { background-color: #f80039 ;}
.color-option .colors-List li:nth-child(5) { background-color: #03A9F4 ;}
.color-option .colors-List li:nth-child(6) { background-color: #4CAF50 ;}

/* ----------------------------------------
--------- Random Background ---------
---------------------------------------- */

/* Background List */
.background-option .BG-List{
    cursor: pointer;
    text-align: center;
}
.background-option .BG-List li{
    width: 1.2rem;
    height: 1.2rem;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    border-radius: 50%;
    margin: 0.15rem;
    border: 2px solid transparent;
    opacity: .3;
    cursor: pointer;
}
.background-option .BG-List li:hover {
    opacity: 1;
    scale: 1.2;
}
.background-option .BG-List li.active {
    border-color: rgb(105, 105, 105);
    background-color: var(--main-color);
    color: var(--TXT-color);
    opacity: 1;
    scale: 1.2;
}
/* Background Switch */
.switch-container {
    text-align: center;
    margin: 5px 0;
}
.switch-container span {
    background-color: var(--main-color);
    color: rgb(105, 105, 105);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 5px;
    opacity: 0.5;
    margin:  5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.switch-container span:hover {
    color: var(--TXT-color);
    opacity: 7;
}
.switch-container span.active {
    color: var(--TXT-color);
    opacity: 1;
    border-color: rgb(105, 105, 105);
}
/* ----------------------------------------*/
.timing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.timing .title{
    margin: 0;
    padding: 0;
}
.title.disc{
    opacity: 0.6;
    color: var(--main-color);
    text-align: end;
    display: inline-block;
    width: 100%;
    /* border: 1px solid #000; */
}
.timing input {
    width: 30px;
    margin: 0 10px;
    text-align: center;
}



/* ----------------------------------------
----------- Landing Page ---------------
---------------------------------------- */

.landingPage {
    min-height: 100vh;
    background-image: url(../img/BG/BG-02.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.landingPage .overlay{
    background-color: rgba(0, 0, 0, 0.61);
    border: 6px solid var(--TXT-color);
    border-top: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ---------------------------------------- */
/* ------NAV BAR------------------------ */
/* ---------------------------------------- */

.landingPage nav {
    position: relative;
    z-index: 2;
    color: var(--TXT-color) ;
    display: flex;
    padding: 10px;
    align-items: center;
}
.landingPage nav .logo {
    min-width: fit-content;
    padding: 15px 0;
    font-family: 'Kalam', cursive;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    position: relative;
}
.landingPage nav .logo a {
    color: var(--main-color);
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 25px;
    position: relative;
    opacity: 0;
}
.landingPage nav .logo:hover a { 
    opacity: 1;
}

.landingPage nav .logo a::after {
    content: ">>";
    color: var(--BG-color);
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    transition: var(--main-trans);
    left: 10%;
    opacity: 0;
}
.landingPage nav .logo a:hover::after { 
    left: 110%;
    opacity: 0.5;
}
.landingPage nav .logo img{
    position: absolute;
    top: -20px;
    height: 6rem;
    transform: scale(0);
}
.landingPage nav .logo:hover img {
    transform: scale(1);
    top: 70px;
}
.landingPage nav .links {
    width: 100%;
    padding: 15px 0;
    /* padding-left: 0;
    padding-right: 30px; */
    text-align: right;
}
.landingPage nav .links li{
    display: inline-block;
    margin-left: 25px;
    font-size: large;
}
.landingPage nav .links li:hover a,
.landingPage nav .links li a.active{
    color: var(--main-color);
}
.landingPage nav .links li a{
    font-weight: 600;
    color: inherit;
}

/* ---------------------------------------- */
/* ------introduction BAR--------------- */
/* ---------------------------------------- */

.landingPage .introduction {
    width: 80%;
    max-width: 800px;
    position: absolute;
    color: var(--TXT-color) ;
    z-index: 2 ;
    text-align: center;
}
.landingPage .introduction h1 {
    font-size: 40px;
}
.landingPage .introduction h1 {
    font-size: 35px;
    margin: 20px 0;
}
.landingPage .introduction h1 strong {
    color: var(--main-color);
}
.landingPage .introduction p {
    line-height: 2;
    font-size: 30px;
}

/* ---------------------------------------- */
/* ----------About Us -------------------- */
/* ---------------------------------------- */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.about .info-box {
  flex: 1;
}
.about .info-box h2 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about .info-box p {
  line-height: 1.8;
  color: #6a6a6a;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Kalam', cursive;

  text-align: center;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.about .info-box p::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: var(--main-trans);
}
.about .info-box p:hover::after {  
  opacity: .2;
  top: 0;
}
.about .info-box i {
  color: var(--main-color);
  margin-right: 10px;
}
.about .info-box i.fa-quote-right {
  color: var(--main-color);
  margin-right: 0;
  margin-left: 10px;
}
/* ----- */
.about .img-box {
  flex: 1;
  text-align: center;
}
.about .img-box img {
  max-width: 750px;
  width: 100%;
}









center.portofolio a {
  padding-bottom: 100px;
}
center.portofolio a {
  scale: 1.02;
  transition: all 0.5s ease;
}
center.portofolio a:hover {
  transform: scale(1.1);
  color: red;
letter-spacing: 2px;
}
